*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color:white;
    color: balck;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.navbar h1{
    font-size: 24px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
}
.navbar ul li{
    cursor: pointer;
    font-size: 18px;
}
.navbar ul li:hover{
    color: #007BFF;
}
.content{
    padding: 20px;
}
.content h2{
    font-size: 28px;
    margin-bottom: 10px;
}
.content p{
    font-size: 16px;
    line-height: 1.5;
}