*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
}

button {
    background: steelblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1f5fa1;
}

#studentList {
    margin-top: 20px;
}
