*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
.main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
}

button {
    background: steelblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1f5fa1;
}

#studentList {
    margin-top: 20px;
}
.nav{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: space-between;
    text-align: center;
    gap: 100px;

}