*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.navbar{
    width: 100%;
    background-color: #c02b2b;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#regForm{
    width: 600px;
    height: 300px;
    margin: 100px auto;
    padding: 30px;
    background-color: rgb(83, 208, 150);
    box-shadow: 0 0 10px rgba(89, 85, 85, 0.1);
    border-radius: 8px solid #c32525;
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d21c1c;
    border-radius: 4px;
}
button{
    width: 50%;
    padding: 10px;
    background-color: #c02b2b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: #a02222;
}

.footer{
    width: 100%;
    height: 60px;
    background-color: #792e2e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}
