*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
.register-Form{
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);


}
.register-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.register-form h2 {
    margin-bottom: 15px;
    text-align: center;
}
.register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
.register-form button:hover {
    background-color: #555;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer p {
    margin: 0;
}
